@charset "UTF-8";
.btn {
  display: block;
  width: 205px;
  height: 45px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 14px;
  background-color: #1BB55C;
  color: white;
}

.form__wrapper {
  width: 600px;
  height: 559px;
  margin: 0 auto;
  padding: 45px 0 45px 0;
}

.form {
  margin-top: 32px;
  margin-bottom: 25px;
  display: grid;
  row-gap: 30px;
  -moz-column-gap: 22px;
       column-gap: 22px;
  height: 305px;
  grid-template: 46px 46px 120px/repeat(2, 220px);
  justify-content: space-between;
  row-gap: 30px;
}
.form label {
  display: block;
  position: absolute;
  top: -9px;
  left: 12px;
  height: 18px;
  padding: 0 8px;
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 0;
}
.form-input {
  position: relative;
}
.form-input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 6px;
}
.form-input input.focused {
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}
.form-textarea {
  position: relative;
  grid-column: 1/3;
}
.form-textarea textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  resize: none;
}
.form__text {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.form__text span {
  text-decoration-line: underline;
}

.header {
  text-align: center;
  /* 24 sp • H5 Headline */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #263238;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}